// spacing
$margin: 1rem;
$padding: 1rem;

// media
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$primary-black: #323232;
$primary-gray: #afafaf;
$primary-white: #ffffff;
$secondary-black: #0000;
$secondary-gray: #e1e1e1;
$secondary-white: #fafafa;
