@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

// =========================== SOCIAL ================================
.social {
	padding: $padding;

	@include tablet {
		padding: calc($padding * 3) calc($padding * 2.5) $padding;
	}

	@include desktop {
		padding: calc($padding * 3) calc($padding * 8) $padding;
	}

	&__heading {
		@include section-heading-mobile;
		color: $primary-black;
		font-weight: 600;

		@include tablet {
			@include section-heading;
		}
	}
}

// ============ form ============
.form-container {
	position: relative;
	display: flex;
	padding: $padding 0;

	@include tablet {
		padding: $padding * 2 $padding * 4 $padding;
	}

	@include desktop {
		padding: $padding * 2 $padding * 16.5 $padding;
	}
}

.img-container {
	height: 36px;
	min-width: 36px;
	margin: $margin $margin 0 0;
	border-radius: 50%;
	background: url("../../assets/images/Mohan-muruge.jpg") center/cover no-repeat;

	@include tablet {
		min-width: 48px;
		height: 48px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-weight: 600;

	&__label {
		margin-bottom: 4px;
		color: $primary-gray;
		font-size: 10px;
		border-radius: 4px;

		@include tablet {
			@include body-text;
			font-weight: 600;
		}
	}

	&__input {
		height: 36px;
		padding: 12px;
		margin-bottom: $margin;
		color: black;
		border: 2px solid $secondary-gray;
		border-radius: 4px;
		background-color: $secondary-white;

		&:focus {
			border: 2px solid black;
			outline: none;
		}

		&::placeholder {
			opacity: 1;
			color: black;
		}

		@include tablet {
			@include body-text;
			height: 48px;
		}
	}

	&__textarea {
		height: 100px;
		min-height: 36px;
		padding: 12px;
		margin-bottom: $margin;
		border-radius: 4px;
		border: 2px solid $secondary-gray;
		color: black;
		resize: none;
		background-color: $secondary-white;

		&:focus {
			border: 2px solid black;
			outline: none !important;
		}

		&::placeholder {
			opacity: 1;
			color: black;
			text-align: left;
		}
	}

	&__btn {
		width: 100%;
		padding: calc($padding/2 + 3px) $padding/2 $padding/2;
		font-size: 15px;
		color: $primary-white;
		font-weight: 600;
		border-radius: 4px;
		border: none;
		background-color: $primary-black;

		&:hover {
			background-color: black;
			cursor: pointer;
		}

		@include tablet {
			align-self: flex-end;
			min-width: 150px;
			max-width: 150px;
			margin-bottom: $margin/2;
			font-size: 16px;
		}
	}
}

// ============ POSTS/COMMENTS ============
.posts-container {
	display: flex;
	flex-wrap: wrap;

	@include tablet {
		padding: 0 $padding * 4 $padding;
	}

	@include desktop {
		padding: 0 $padding * 16.5 $padding;
	}
}

.post {
	@include body-text-mobile;
	display: flex;
	padding-top: $padding;
	position: relative;
	min-width: 100%;
	border-bottom: 2.5px solid $secondary-gray;

	&:first-child {
		border-top: 2.5px solid $secondary-gray;
	}

	@include tablet {
		padding-top: $padding * 1.5;
	}

	&__img {
		min-width: 36px;
		height: 36px;
		border-radius: 50%;
		margin: 0 $margin 0 0;
		background: $secondary-gray;

		@include tablet {
			min-width: 48px;
			height: 48px;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		&__upper {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		&__lower {
			width: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: $padding/2 0;
		}

		&__likes-container {
			border: 3px solid $primary-black;
			border-radius: 5px;
			display: flex;
			justify-content: space-between;
			padding: 2px $padding/2;
			margin: 0 $margin;
			width: 60px;
			@include tablet {
				width: 70px;
			}
		}
	}

	&__name {
		font-weight: 600;

		@include tablet {
			@include body-text;
			font-weight: 600;
		}
	}

	&__date {
		color: $primary-gray;
	}

	&__text {
		margin: $margin/2 0 0;
		width: 100%;

		@include tablet {
			@include body-text;
			color: black;
		}
	}

	&__likes {
		display: flex;
		align-items: flex-end;
		margin-bottom: -3px;
		font-size: 15px;

		@include tablet {
			font-size: 18px;
			margin-bottom: -1px;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;

		@include tablet {
			width: 25px;
			height: 25px;
		}

		&:hover {
			opacity: 0.5;
			cursor: pointer;
		}
	}
}
