@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

// =========================== SOCIAL ================================
.social {
	padding: $padding;

	@include tablet {
		padding: calc($padding * 3) calc($padding * 2.5) $padding;
	}

	@include desktop {
		padding: calc($padding * 3) calc($padding * 8) $padding;
	}

	&__heading {
		@include section-heading-mobile;
		color: $primary-black;
		font-weight: 600;

		@include tablet {
			@include section-heading;
		}
	}
}
