@use "../../styles/variables" as *;
@use "../../styles/typography" as *;
@use "../../styles/mixins" as *;

// =========================== SOCIAL ================================
.social {
	padding: $padding;

	@include tablet {
		padding: calc($padding * 3) calc($padding * 2.5) $padding;
	}

	@include desktop {
		padding: calc($padding * 3) calc($padding * 8) $padding;
	}

	&__heading {
		@include section-heading-mobile;
		color: $primary-black;
		font-weight: 600;

		@include tablet {
			@include section-heading;
		}
	}
}

// ============ form ============
.form-container {
	display: flex;
	padding: $padding 0;
	position: relative;

	@include tablet {
		padding: $padding * 2 $padding * 4 $padding;
	}

	@include desktop {
		padding: $padding * 2 $padding * 16.5 $padding;
	}
}

.img-container {
	background: url("../../assets/images/Mohan-muruge.jpg") center/cover no-repeat;
	min-width: 36px;
	height: 36px;
	border-radius: 50%;
	margin: $margin $margin 0 0;

	@include tablet {
		min-width: 48px;
		height: 48px;
	}
}

.form {
	font-weight: 600;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__label {
		color: $primary-gray;
		font-size: 10px;
		border-radius: 4px;
		margin-bottom: 4px;

		@include tablet {
			@include body-text;
			font-weight: 600;
		}
	}

	&__input {
		height: 36px;
		border-radius: 4px;
		padding: 12px;
		border: 2px solid $secondary-gray;
		background-color: $secondary-white;
		margin-bottom: $margin;
		color: black;

		&:focus {
			outline: none;
			border: 2px solid black;
		}

		&::placeholder {
			color: black;
			opacity: 1;
		}

		@include tablet {
			@include body-text;
			height: 48px;
		}
	}

	&__textarea {
		min-height: 36px;
		border-radius: 4px;
		padding: 12px;
		border: 2px solid $secondary-gray;
		background-color: $secondary-white;
		margin-bottom: $margin;
		resize: none;
		color: black;
		height: 100px;

		&:focus {
			outline: none !important;
			border: 2px solid black;
		}

		&::placeholder {
			color: black;
			opacity: 1;
			text-align: left;
		}
	}

	&__btn {
		font-size: 15px;

		color: $primary-white;
		background-color: $primary-black;
		font-weight: 600;
		height: 40px;
		width: 100%;
		border-radius: 4px;
		border: none;

		&:hover {
			background-color: black;
			cursor: pointer;
		}

		@include tablet {
			min-width: 150px;
			max-width: 150px;
			padding: 0 $padding * 2;
			margin-bottom: $margin/2;
			align-self: flex-end;
		}
	}
}
